.top-title {
  font-size: 6rem;
  font-weight: 800;
  color: var(--color-main);
}

.section-title {
  font-size: 1.8rem;
  font-weight: 600;
}

.slide-title {
  font-size: 2.5rem;
  font-weight: 700;
}
